DATABASE_PROVIDER="sqlite"
DATABASE_URL="file:./dev.db"
JWT_SECRET="super_secret_change_me"
PORT=4000
CLIENT_URL="http://localhost:5173"
UPLOAD_DIR="uploads"
UPLOAD_LIMIT_USER=104857600
UPLOAD_LIMIT_PREMIUM=2147483647
